.firstblock {
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100vh;
  margin-top: 40px;
  /* background-image: url('https://i.pinimg.com/1200x/ef/a6/09/efa6097fe17e4ba9ffeb18d618416850.jpg'); */
  background-image: url('https://i.pinimg.com/736x/66/a0/c5/66a0c520b4945e37873217333d8dbaf9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.firstblock__text {
  width: 40%;
  font-size: 2vw;
  color: white;
  text-align: right;
}

.firstblock__text button {
  border: 0.1vw solid;
  padding: 1vw 2vw;
  font-size: 1vw;
  margin-top: 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
