.Footer {
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.Footer li {
  list-style: none;
  font-size: 1.0vw;
  font-weight: 500;
  font-family: 'General';
  color: #1E1E1E;

}

.Footer h1 {
  font-family: 'Barlow';
  text-transform: uppercase;
  font-size: 26vw;
  height: fit-content;
  line-height: 0.77;
  color: #1E1E1E;
}

.Footer__links {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 5px;
}



.bottom li {
  color: rgba(0, 0, 0, 0.4);
  font-family: 'General';
  font-weight: 400;
  margin-top: 30px;
}
