.gender {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.male {
  width: 100%;
  height: 100%;
  background-image:

    linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
    url('https://i.pinimg.com/736x/fb/ac/83/fbac83bdee8b508818d3f88bcc2219eb.jpg');
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
}

.male__title {
  position: absolute;
  color: white;
}



.male__outfits {
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.male__outfits a,
h2 {

  text-transform: capitalize;
  color: white;
}

.male__outfits h2 {
  text-transform: capitalize;
  text-decoration: underline;
}

.female {
  width: 100%;
  height: 100%;
  display: flex;
  background-image:

    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0)),
    url('https://i.pinimg.com/736x/66/a0/c5/66a0c520b4945e37873217333d8dbaf9.jpg');
  justify-content: center;
  justify-self: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.female__title {
  position: absolute;
  color: white;
}

.female__outfits {
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.female__outfits h2 {
  color: white;
  text-transform: capitalize;
  text-decoration: underline;
}

.female__outfits a {
  text-transform: capitalize;
  color: white;

}


.text {

  text-transform: capitalize;
}


.female:hover .female__title,
.male:hover .male__title {
  display: none;
}

.female:hover {
  width: 100%;
  height: 100%;
  display: flex;
  background-image:

    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://i.pinimg.com/736x/66/a0/c5/66a0c520b4945e37873217333d8dbaf9.jpg');
  justify-content: center;
  justify-self: center;
  align-items: center;
  position: static;
  position: relative;
  /* добавь, чтобы ::before работал корректно */
}

.male:hover {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://i.pinimg.com/736x/fb/ac/83/fbac83bdee8b508818d3f88bcc2219eb.jpg');
  justify-content: center;
  justify-self: center;
  align-items: center;
  position: static;
  position: relative;
}

.female:hover {
  .female__outfits {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
}

.male:hover {
  .male__outfits {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
}

.female__outfits a:hover {
  text-decoration: underline;
}

.male__outfits a:hover {
  text-decoration: underline;
}

.female::before,
.male::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5));
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
  pointer-events: none;
}


@media screen and (max-width: 768px) {
  .gender {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
  }

  .male__outfits a {
    font-size: 4vw;
  }

  .female__outfits a {
    font-size: 4vw;
  }

  .male__outfits,
  .female__outfits {
    opacity: 1;
    font-size: 4vw;
    visibility: visible;
    display: flex;
  }


  .male__title {
    display: none;
  }

  .female__title {
    display: none;
  }

  .female::before,
  .male::before {
    content: "";
    display: none;
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5));
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    pointer-events: none;
  }




}
